/*

helper.indent.compact.css © 2015 — 2017 Juliy V. Chirkov
distributed under the MIT Licence at https://github.com/juliyvchirkov/helpers.css

*/

.tind {
	margin-top: 10px !important
}

.tind-lg {
	margin-top: 15px !important
}

.tind-2x {
	margin-top: 20px !important
}

.tind-xlg {
	margin-top: 25px !important
}

.tind-3x {
	margin-top: 30px !important
}

.tind-4x {
	margin-top: 40px !important
}

.tind-hg {
	margin-top: 50px !important
}

.tind-6x {
	margin-top: 60px !important
}

.tind-7x {
	margin-top: 70px !important
}

.tind-8x {
	margin-top: 80px !important
}

.tind-9x {
	margin-top: 90px !important
}

.tind-xhg {
	margin-top: 100px !important
}

.tind-sm {
	margin-top: 5px !important
}

.tind-xsm {
	margin-top: 2px !important
}

.tind-a {
	margin-top: auto !important
}

.tind-z {
	margin-top: 0 !important
}

.bind {
	margin-bottom: 10px !important
}

.bind-lg {
	margin-bottom: 15px !important
}

.bind-2x {
	margin-bottom: 20px !important
}

.bind-xlg {
	margin-bottom: 25px !important
}

.bind-3x {
	margin-bottom: 30px !important
}

.bind-4x {
	margin-bottom: 40px !important
}

.bind-hg {
	margin-bottom: 50px !important
}

.bind-6x {
	margin-bottom: 60px !important
}

.bind-7x {
	margin-bottom: 70px !important
}

.bind-8x {
	margin-bottom: 80px !important
}

.bind-9x {
	margin-bottom: 90px !important
}

.bind-xhg {
	margin-bottom: 100px !important
}

.bind-sm {
	margin-bottom: 5px !important
}

.bind-xsm {
	margin-bottom: 2px !important
}

.bind-a {
	margin-bottom: auto !important
}

.bind-z {
	margin-bottom: 0 !important
}

.lind {
	margin-left: 10px !important
}

.lind-lg {
	margin-left: 15px !important
}

.lind-2x {
	margin-left: 20px !important
}

.lind-xlg {
	margin-left: 25px !important
}

.lind-3x {
	margin-left: 30px !important
}

.lind-4x {
	margin-left: 40px !important
}

.lind-hg {
	margin-left: 50px !important
}

.lind-6x {
	margin-left: 60px !important
}

.lind-7x {
	margin-left: 70px !important
}

.lind-8x {
	margin-left: 80px !important
}

.lind-9x {
	margin-left: 90px !important
}

.lind-xhg {
	margin-left: 100px !important
}

.lind-sm {
	margin-left: 5px !important
}

.lind-xsm {
	margin-left: 2px !important
}

.lind-a {
	margin-left: auto !important
}

.lind-z {
	margin-left: 0 !important
}

.rind {
	margin-right: 10px !important
}

.rind-lg {
	margin-right: 15px !important
}

.rind-2x {
	margin-right: 20px !important
}

.rind-xlg {
	margin-right: 25px !important
}

.rind-3x {
	margin-right: 30px !important
}

.rind-4x {
	margin-right: 40px !important
}

.rind-hg {
	margin-right: 50px !important
}

.rind-6x {
	margin-right: 60px !important
}

.rind-7x {
	margin-right: 70px !important
}

.rind-8x {
	margin-right: 80px !important
}

.rind-9x {
	margin-right: 90px !important
}

.rind-xhg {
	margin-right: 100px !important
}

.rind-sm {
	margin-right: 5px !important
}

.rind-xsm {
	margin-right: 2px !important
}

.rind-a {
	margin-right: auto !important
}

.rind-z {
	margin-right: 0 !important
}

.tnind {
	margin-top: -10px !important
}

.tnind-lg {
	margin-top: -15px !important
}

.tnind-2x {
	margin-top: -20px !important
}

.tnind-xlg {
	margin-top: -25px !important
}

.tnind-3x {
	margin-top: -30px !important
}

.tnind-4x {
	margin-top: -40px !important
}

.tnind-hg {
	margin-top: -50px !important
}

.tnind-6x {
	margin-top: -60px !important
}

.tnind-7x {
	margin-top: -70px !important
}

.tnind-8x {
	margin-top: -80px !important
}

.tnind-9x {
	margin-top: -90px !important
}

.tnind-xhg {
	margin-top: -100px !important
}

.tnind-sm {
	margin-top: -5px !important
}

.tnind-xsm {
	margin-top: -2px !important
}

.bnind {
	margin-bottom: -10px !important
}

.bnind-lg {
	margin-bottom: -15px !important
}

.bnind-2x {
	margin-bottom: -20px !important
}

.bnind-xlg {
	margin-bottom: -25px !important
}

.bnind-3x {
	margin-bottom: -30px !important
}

.bnind-4x {
	margin-bottom: -40px !important
}

.bnind-hg {
	margin-bottom: -50px !important
}

.bnind-6x {
	margin-bottom: -60px !important
}

.bnind-7x {
	margin-bottom: -70px !important
}

.bnind-8x {
	margin-bottom: -80px !important
}

.bnind-9x {
	margin-bottom: -90px !important
}

.bnind-xhg {
	margin-bottom: -100px !important
}

.bnind-sm {
	margin-bottom: -5px !important
}

.bnind-xsm {
	margin-bottom: -2px !important
}

.lnind {
	margin-left: -10px !important
}

.lnind-lg {
	margin-left: -15px !important
}

.lnind-2x {
	margin-left: -20px !important
}

.lnind-xlg {
	margin-left: -25px !important
}

.lnind-3x {
	margin-left: -30px !important
}

.lnind-4x {
	margin-left: -40px !important
}

.lnind-hg {
	margin-left: -50px !important
}

.lnind-6x {
	margin-left: -60px !important
}

.lnind-7x {
	margin-left: -70px !important
}

.lnind-8x {
	margin-left: -80px !important
}

.lnind-9x {
	margin-left: -90px !important
}

.lnind-xhg {
	margin-left: -100px !important
}

.lnind-sm {
	margin-left: -5px !important
}

.lnind-xsm {
	margin-left: -2px !important
}

.rnind {
	margin-right: -10px !important
}

.rnind-lg {
	margin-right: -15px !important
}

.rnind-2x {
	margin-right: -20px !important
}

.rnind-xlg {
	margin-right: -25px !important
}

.rnind-3x {
	margin-right: -30px !important
}

.rnind-4x {
	margin-right: -40px !important
}

.rnind-hg {
	margin-right: -50px !important
}

.rnind-6x {
	margin-right: -60px !important
}

.rnind-7x {
	margin-right: -70px !important
}

.rnind-8x {
	margin-right: -80px !important
}

.rnind-9x {
	margin-right: -90px !important
}

.rnind-xhg {
	margin-right: -100px !important
}

.rnind-sm {
	margin-right: -5px !important
}

.rnind-xsm {
	margin-right: -2px !important
}

.tindi {
	padding-top: 10px !important
}

.tindi-lg {
	padding-top: 15px !important    
}

.tindi-2x {
	padding-top: 20px !important    
}

.tindi-xlg {
	padding-top: 25px !important    
}

.tindi-3x {
	padding-top: 30px !important    
}

.tindi-4x {
	padding-top: 40px !important    
}

.tindi-hg {
	padding-top: 50px !important    
}

.tindi-6x {
	padding-top: 60px !important    
}

.tindi-7x {
	padding-top: 70px !important
}

.tindi-8x {
	padding-top: 80px !important    
}

.tindi-9x {
	padding-top: 90px !important    
}

.tindi-xhg {
	padding-top: 100px !important    
}

.tindi-sm {
	padding-top: 5px !important    
}

.tindi-xsm {
	padding-top: 2px !important    
}

.tindi-z {
    padding-top: 0 !important
}

.bindi {
	padding-bottom: 10px !important
}

.bindi-lg {
	padding-bottom: 15px !important    
}

.bindi-2x {
	padding-bottom: 20px !important    
}

.bindi-xlg {
	padding-bottom: 25px !important    
}

.bindi-3x {
	padding-bottom: 30px !important    
}

.bindi-4x {
	padding-bottom: 40px !important    
}

.bindi-hg {
	padding-bottom: 50px !important    
}

.bindi-6x {
	padding-bottom: 60px !important    
}

.bindi-7x {
	padding-bottom: 70px !important
}

.bindi-8x {
	padding-bottom: 80px !important    
}

.bindi-9x {
	padding-bottom: 90px !important    
}

.bindi-xhg {
	padding-bottom: 100px !important    
}

.bindi-sm {
	padding-bottom: 5px !important    
}

.bindi-xsm {
	padding-bottom: 2px !important    
}

.bindi-z {
    padding-bottom: 0 !important
}

.lindi {
	padding-left: 10px !important
}

.lindi-lg {
	padding-left: 15px !important    
}

.lindi-2x {
	padding-left: 20px !important    
}

.lindi-xlg {
	padding-left: 25px !important    
}

.lindi-3x {
	padding-left: 30px !important    
}

.lindi-4x {
	padding-left: 40px !important    
}

.lindi-hg {
	padding-left: 50px !important    
}

.lindi-6x {
	padding-left: 60px !important    
}

.lindi-7x {
	padding-left: 70px !important
}

.lindi-8x {
	padding-left: 80px !important    
}

.lindi-9x {
	padding-left: 90px !important    
}

.lindi-xhg {
	padding-left: 100px !important    
}

.lindi-sm {
	padding-left: 5px !important    
}

.lindi-xsm {
	padding-left: 2px !important    
}

.lindi-a {
	text-align: right !important
}

.lindi-z {
    padding-left: 0 !important
}

.rindi {
	padding-right: 10px !important
}

.rindi-lg {
	padding-right: 15px !important    
}

.rindi-2x {
	padding-right: 20px !important    
}

.rindi-xlg {
	padding-right: 25px !important    
}

.rindi-3x {
	padding-right: 30px !important    
}

.rindi-4x {
	padding-right: 40px !important    
}

.rindi-hg {
	padding-right: 50px !important    
}

.rindi-6x {
	padding-right: 60px !important    
}

.rindi-7x {
	padding-right: 70px !important
}

.rindi-8x {
	padding-right: 80px !important    
}

.rindi-9x {
	padding-right: 90px !important    
}

.rindi-xhg {
	padding-right: 100px !important    
}

.rindi-sm {
	padding-right: 5px !important    
}

.rindi-xsm {
	padding-right: 2px !important    
}

.rindi-a {
	text-align: left !important
}

.rindi-z {
    padding-right: 0 !important
}

.lindi-a.rindi-a {
	text-align: center !important    
}
