/*

helper.animate.compact.css © 2015 — 2017 Juliy V. Chirkov
Distributed under the MIT Licence at https://github.com/juliyvchirkov/helpers.css

*/

.animated.adagio {
	animation-duration: 1.5s !important
}

.animated.adagio-2x {
	animation-duration: 2s !important
}

.animated.adagio-lg {
	animation-duration: 2.5s !important
}

.animated.adagio-3x {
	animation-duration: 3s !important
}

.animated.adagio-4x {
	animation-duration: 4s !important
}

.animated.adagio-xlg {
	animation-duration: 5s !important
}

.animated.adagio-6x {
	animation-duration: 6s !important
}

.animated.adagio-7x {
	animation-duration: 7s !important
}

.animated.adagio-8x {
	animation-duration: 8s !important
}

.animated.adagio-9x {
	animation-duration: 9s !important
}

.animated.adagio-hg {
	animation-duration: 10s !important
}

.animated.adagio-xhg {
	animation-duration: 20s !important
}

.animated.allegro-2x {
	animation-duration: .5s !important
}

.animated.allegro-lg {
	animation-duration: .33s !important
}

.animated.allegro-4x {
	animation-duration: .25s !important
}

.animated.allegro-xlg {
	animation-duration: .2s !important
}

.animated.allegro-hg {
	animation-duration: .1s !important
}

.animated.allegro-xhg {
	animation-duration: .05s !important
}
